/* Less Mixins */
.drop-shadow {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
/* Bootstrap Ovrrides */
form {
  margin: 0;
}
.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
input[type="text"],
textarea {
  width: 99%;
}
/* Main Styles */
.header {
  background: #555;
}
.header h1 {
  color: #fff;
  margin: 0;
}
.content {
  margin: 0px auto;
}
.content .login .login-inner {
  background-color: #eee;
  padding: 20px;
}
.content .services {
  margin: 15px;
}
.content .services ul {
  margin: 0;
  padding: 0;
}
.content .services li {
  background-color: #f3f3f3;
  margin-bottom: 20px;
  list-style: none;
  padding: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
.footer {
  background-color: #999;
}
