/* Bootstrap Ovrrides */
form {
  margin: 0;
}
/* Main Styles */
.login {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 300px;
  margin-top: -170px;
}
.login h1 {
  color: #222;
}
.login .login-inner {
  background-color: #eee;
  padding: 20px;
}
.services {
  border: solid 1px red;
}
