/* Bootstrap Ovrrides */
form {
  margin: 0;
}
.btn {
  border-radius: 2px;
}
/* Main Styles */
.header {
  background: gray;
}
.content {
  border: solid 1px red;
  margin: 0px auto;
}
.content .login {
  width: 100%;
  position: absolute;
  top: 50%;
  height: 300px;
  margin-top: -170px;
}
.content .login h1 {
  color: #222;
}
.content .login .login-inner {
  background-color: #eee;
  padding: 20px;
}
.content .services {
  margin: 20px;
}
.content .services ul {
  margin: 0;
  padding: 0;
}
.content .services li {
  background-color: yellow;
  margin-bottom: 20px;
  list-style: none;
}
.footer {
  background-color: aqua;
}
