{% extends "base.html" %}

{% block content %}

<div class="services-create-edit">

    <div class="services-content">
        <h1>Create a new service</h1>

        <form action="{{ submit_url }}" method="post">{% csrf_token %}
        {{ form.as_p }}
        <a href="javascript:void(0)" onclick="javascript:make_random_password()">I'd like a random password</a> (don't forget to actually set the password...)
        <br />
        <br />
        <input type="Submit" value="submit" class="btn btn-primary" />
        </form>
    </div>
</div>
{% endblock %}

