{% extends "base.html" %}

{% block content %}
<div class="searchbar">
  <input type="text" id="search-field" class="searchbar-text" value="" placeholder="Filter as you type">
</div>
<div class="services">

    {% if services %}
    <ul>
    {% for service in services %}
        <li>
            <p>Service: <a href="{{ service.url }}">{{ service.title }}</a></p>
            {{ service.description|safe }}
        </li>
    {% endfor %}
    </ul>
    {% else %}

        <p>you don't have any services</p>

    {% endif %}

</div>

{% endblock %}

{% block action %}
    <a class="btn btn-primary" href="/r-pass/create"><i class="icon-plus icon-white"></i></a>
{% endblock %}